@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@300;400;500;600&display=swap');

:root{
   --red:#CF1259;
   --pink: #DD7596;
   --black:#4F6272;
   --dark: #404E5C;
   --blue: #B7C3F3;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'FreesiaUPC';
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--pink);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--pink);
}





/* Register */
body{
  background-color: var(--light-bg);
}
.register{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .container{
  width: 1182px;
  height: 737px;  

}
.register .container .head-register{
  color: var(--red);
  font-size: 100px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.register .container form{
  height: 679px;
  padding: 0 56px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: var(--light-bg);
  
}
.register .container form .box1{
  display: flex;
  font-size: 40px;
  color: var(--red);
  margin-top: 40px;
}
.register .container form .box1 .value1 input{
  font-size: 30px;
  padding: 0 20px;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.register .container form .box1 .value2{
  margin-left: 56px;
}
.register .container form .box1 .value2 select {
  font-size: 30px;
  padding: 0 20px;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.register .container form .box2{
  font-size: 40px;
  color: var(--red);
  margin-top: 20px;
}
.register .container form .box2 input{
  font-size: 30px;
  padding: 0 20px;
  width: 1055px;
  height: 60px;
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--box-shadow);

}
.register .container form .box3{
  display: flex;
  font-size: 40px;
  color: var(--red);
  margin-top: 20px;
}
.register .container form .box3 .value1 input{
  font-size: 30px;
  padding: 0 20px;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.register .container form .box3 .value2{
  margin-left: 56px;
}
.register .container form .box3 .value2 input{
  font-size: 30px;
  padding: 0 20px;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.register .container form .box4{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.register .container form .box4 input{
  font-size: 40px;
  width: 25rem;
  padding: 10px 10px;
  background-color: var(--pink);
  color: var(--white);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  cursor: pointer;
}
.register .container form .box4 input:hover{
  background-color: var(--black);
}
.register .container form .box5{
  margin-top: 30px;
}
.register .container form .box5 h3{
  text-align: center;
  color: var(--red);
  font-size: 50px;

}
.register .container form .box5 h3 a:hover{
  color: var(--blue);
}






